@model PTLavaCar.Models.ServiciosViewModel
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">
        <i class="fa fa-list"></i> Reporte: @Model.Descripcion
        <p><strong>Monto:</strong> ₡@Model.Monto</p>
    </h5>

</div>

<div class="modal-body">

    @if (Model.VehiculosAsociados != null && Model.VehiculosAsociados.Any())
    {
        <div class="table-responsive">
            <h5>Vehículos Asociados</h5>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Placa</th>
                        <th>Dueño</th>
                        <th>Marca</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehiculo in Model.VehiculosAsociados)
                    {
                        <tr>
                            <td>@vehiculo.Placa</td>
                            <td>@vehiculo.Dueno</td>
                            <td>@vehiculo.Marca</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info">
            No hay vehículos asociados a este servicio.
        </div>
    }
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        <i class="fa fa-times"></i> Cerrar
    </button>
</div>