@model PTLavaCar.Models.Vehiculo_ServicioModel
@{
    Layout = null;
    var vehiculos = ViewBag.Vehiculos as List<SelectListItem>;
    var servicios = ViewBag.Servicios as List<SelectListItem>;
}

<form asp-action="Agregar" method="post" id="asignacionForm">
    <div class="mb-3">
        <label class="form-label"><i class="fa fa-car"></i> Vehículo</label>
        <select asp-for="ID_Vehiculo" asp-items="vehiculos" class="form-select">
            <option value="">-- Selecciona un vehículo --</option>
        </select>
        <span asp-validation-for="ID_Vehiculo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label"><i class="fa fa-cogs"></i> Servicio</label>
        <select asp-for="ID_Servicio" asp-items="servicios" class="form-select">
            <option value="">-- Selecciona un servicio --</option>
        </select>
        <span asp-validation-for="ID_Servicio" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
    </div>
</form>

<script>
    if (!$.validator) {
        $.getScript("/lib/jquery-validation/dist/jquery.validate.min.js", function() {
            $.getScript("/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js");
        });
    }
</script>